/* styles for main content component */

main {
  background-color: #d9f9ff;
}

main .main-content {
  background-color: #def7fc;
  margin: 0 auto;
  max-width: 60%;
  padding: 1%;
}

main .main-content h2 {
  color: #4ea8de;
}
