/* styles for header component */

header {
  height: 50px;
  display: flex;
  padding: 0.5%;
  background-color: #56cfe1;
  justify-content: space-around;
}

header .site-logo {
  color: azure;

  /* disable text properties for logo */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* header nav bar */
header .header-links ul {
  list-style-type: none;
  overflow: hidden;
}

header .header-links li {
  float: left;
}

header .header-links li a {
  display: block;
  color: azure;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header .header-links li a:hover,
a:active {
  background-color: #64dfdf;
}
