/* pagination styles */

.pagination ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
}

.pagination ul li {
  padding: 0 0.25%;
  float: left;
}

.pagination ul li a {
  display: block;
  border: 1px solid #64dfdf;
  color: #4ea8de;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pagination ul li .active {
  display: block;
  color: azure;
  background-color: #64dfdf;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pagination ul li a:hover,
a:active {
  color: azure;
  background-color: #64dfdf;
}
